<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E_Kontrol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="E_Kontrol.Properties.Settings.EKontrolConnectionString"
            connectionString="Data Source=DESKTOP-HOOKELP\SQLEXPRESS;Initial Catalog=EKontrol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <E_Kontrol.Properties.Settings>
            <setting name="UserMail" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OldDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oldh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oldm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="olds" serializeAs="String">
                <value>0</value>
            </setting>
        </E_Kontrol.Properties.Settings>
    </userSettings>
</configuration>